@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$primary_color:rgb(0, 247, 255);
*,*::after,*::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  cursor: pointer;
}
body{
  font-family: 'Poppins', sans-serif;
  @media screen and (max-width:400px) {
    font-size: 80%;
  }
}
.row{
  margin-top: 3vh;
  display: flex;
  // justify-content: center;
  gap:5%;
}
.col{
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}
.App{
  h1{
    text-align: center;
    margin-top: 2rem;
    text-transform: uppercase;
    color:rgba(19, 19, 29, 0.918);
  }
  .genre_list{
    margin:0 10%;
    margin-top: 1rem;
display: flex;
justify-content: center;
gap:.5rem;
@media screen and (max-width:400px) {
  gap:.2rem;
  margin:0 3%;
  margin-top: 1rem;


}

.active{
  // background: rgb(19, 30, 34);

  // color:$primary_color;

}
    button{
      cursor: pointer;
      flex: 1 0 10%;
      // border-radius: 3px;
      outline: none;
      border: none;
      padding:.7rem ;
      color:rgb(250, 250, 250);
      background: rgb(0, 0, 0);
      border-bottom: 3px solid $primary_color;
      transition: all .3s ease-in-out;

      &:hover{
        transition: all .3s ease-in-out;
        background: rgba(19, 30, 34, 0.664);
      
        color:$primary_color;
        
      }
      &:active{
        transition: all .3s ease-in-out;

        background: rgb(19, 30, 34);
      
        color:$primary_color;
      
      }
      @media screen and (max-width:400px) {
      font-size: .7rem;
        
      
    }
@media screen and (max-width:400px) {
  padding: .5rem;
}
    }

  }
  .movie_list
  {
  
    display: flex;
    flex-wrap: wrap;
    // align-content:center;
    // justify-content: center;
    margin: 2rem;
    gap: 2rem;
    justify-content: center;
    @media screen and (max-width:400px) {
    // align-items:center;
    margin: 0;
    margin-top: 1rem;
    gap: 1rem;
    }
    &>*{
      flex:0 0 12rem;

      // flex: 1 0 auto;
    @media screen and (max-width:500px) {
      flex:0 0 70%;
    }
   
     
    }
    .movie_card
    {
    border-radius: .3rem;

      text-decoration: none;
      cursor: pointer;
      // height:40vh;
      width:50vh;
      overflow: hidden;
      height:100%;
      display: flex;
      flex-direction: column;
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.178);
      img{

        width:100%;
        // height: 70%;
        // width: 18rem;
        // width:19vw;
        // flex:1 1 80%;
        background-size: cover;
        @media screen and (max-width:500px) {
          width: 100%;
        // height: 40vh;
        background-size:contain;
        

    
        }
      }
      .content{
  
        // flex:1 1 30%;
        //  height: 30%;
        padding: 1.1rem;
.title{
  margin:0;
  text-align: left;
  font-size: .9rem;
  color:rgba(0, 0, 0, 0.883);
}
p{
 
 
}
.rating{
  margin-top: .4rem;
  font-weight: bold;
  // height: 40%;
  // width:40%;
  // background: #000;
  font-size: 1rem;
  color:rgba(35, 83, 81, 0.746);
}
.vote_count{

}
      }
    }
  }

}
.movie_info{
  height: 100vh;
  padding: 5%;
//  width: 100%;
  display: flex;
  gap:10%;
  align-items: center;
  position: relative;
  // z-index: -1;
  background: rgb(12, 10, 15);
  .group{
    display: flex;
    
    @media screen and (max-width:800px) {
justify-content: center;
  }
}
 a.back{
   display: grid;
   position: absolute;
   top:3.5%;
  //  font-size: 1rem;
   place-items: center;
   color:rgba(27, 26, 26, 0.678);
   width:3rem;
   height: 3rem;
   background: rgba(255, 255, 255, 0.938);
   border-radius: 50%;
// margin-right: auto;
@media screen and (max-width:800px) {
  left:5%;
}
 }
  img.backdrop{
  
    position: absolute;
    top:0;
    left:0;
    z-index: 0;
    width: 100%;
    height: 100vh;
    background-size: cover;
   filter: opacity(.5) blur(10px);
  }
  img.poster{
    z-index: 0;
    background-size: cover;

    // z-index: 99;
    border-radius: .3rem;

    // position: absolute;
    // z-index: 1;
    // top:10%;
    // left:5%;
 
    height: 50vh;

  }
  .content{
    z-index: 0;
    // z-index: 99;
    .title{
      color:white;
    }
    .desc{
      color:rgba(255, 255, 255, 0.815);
    }
    span{
      color: rgba(255, 255, 255, 0.739);
    }
    .popularity,.release_date,.vote_count,.rating{
      color:white;
    }
    .release_date{

    }
    .popularity{

    }
    .vote_count{

    }

    // z-index: 99;

    // position: absolute;
    // left: 30%;
    // top:20%;
  }
  
  @media screen and (max-width:600px)  {
  gap:5vh;
  
  // min-height: 100vh;
  flex-direction: column;
  img.poster{
    height: 60vw;
    margin-top: 10vh;
    // height: 75vw;
  }
  .back{
    font-size: 1.3rem;
  }
  .row{
  justify-content: center;

  }

    .title{
      text-align: center;
      margin-bottom: 1vh;
    }
    .desc{
      text-align: center;
    }
    .rating
    {
      // display: grid;
      // place-items: center;
      // width:3rem;
      // height:3rem;
      // border-radius: 50%;
      // background: rgba(0, 0, 0, 0.884);
      color:white;
    }
  }
 
}